.active{
    background-color:lightgoldenrodyellow;
}

code {
  color: #E01A76;
}

.drinkimage {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.drinkcursor {
   cursor:pointer;
}


.downloadimage {
    margin: 20px;
    height: 100px;
    width: auto;
}

.instruments {
    width: 170px !important;
    height: 40px !important;
}

.no-overfolw {
    overflow: hidden;
    white-space: nowrap
}

